<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- Lifecycle 학습용 -->
        <activity
            android:name=".lifecycle.LifecycleActivity"
            android:exported="false" />

        <activity
            android:name=".lifecycle.LifecycleSecondActivity"
            android:exported="false" />

        <activity
            android:name=".launchmode.LaunchModeActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".launchmode.StandardActivity"
            android:exported="false"
            android:launchMode="standard" />

        <activity
            android:name=".launchmode.SingleTopActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".launchmode.SingleTaskActivity"
            android:exported="false"
            android:launchMode="singleTask" />
    </application>

</manifest>